//- ナビゲーションテンプレート
nav.navbar.navbar-inverse
  .container-fluid.widthFit
    div.navbar-header
      button.navbar-toggle.collapsed( type = 'button', data-toggle = 'collapse', data-target = '#global-nav', aria-expanded = 'false' )
        span.icon-bar
        span.icon-bar
        span.icon-bar
        span.icon-bar2 menu
      a.navbar-brand( href = '/' )= site.name
    div.collapse.navbar-collapse#global-nav
      ul.nav.navbar-nav
        each val, key in site.pages
          - if( val.position === 'main' )
            - if( key === pageid )
              li.active
                a(href = key + '.html') !{val.title}
            - else
              li
                a(href = key + '.html') !{val.title}
      ul.nav.navbar-nav.navbar-right
        each val, key in site.pages
          - if( val.position === 'sub' )
            - if( key === pageid )
              li.active
                a(href = key + '.html') !{val.title}
            - else
              li
                a(href = key + '.html') !{val.title}
